@font-face {
    font-family: 'apercu-bold';
    src: url('../fonts/apercu_bold-webfont.woff2') format('woff2'),
         url('../fonts/apercu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercu-medium';
    src: url('../fonts/apercu_medium-webfont.woff2') format('woff2'),
         url('../fonts/apercu_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercu-monoregular';
    src: url('../fonts/apercu_mono-webfont.woff2') format('woff2'),
         url('../fonts/apercu_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercu-regular';
    src: url('../fonts/apercu_regular-webfont.woff2') format('woff2'),
         url('../fonts/apercu_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercu-light';
    src: url('../fonts/apercu-light-webfont.woff2') format('woff2'),
         url('../fonts/apercu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}